<div ng-show="user">
    <div class="col-md-8" ng-controller="LetsFight">
        <playground></playground>
    </div>
    <div class="col-md-4">
        <div ng-controller="ChatCtrl">
            You are known as: {{user.local.username}}.
            <div class='row'>
                <div class='col-md-12'>
                    <textarea disabled="true">{{messageLog}}</textarea>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-12'>
                    <form role='form' novalidate name='form'>
                        <div class='form-group'>
                            <input type='text' style='width: 80%'
                                   required
                                   ng-max='50'
                                   ng-model='message'
                                   focus>
                            <button class='btn btn-sm btn-primary'
                                    ng-enable='form.$valid'
                                    ng-click="sendMessage(message)">Send!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>Connectez-vous</div>
