<svg id="workspace">
  <text x="300" y="50" fill="red">{{message}}</text>
  <circle cx="{{player1.head.cx}}"
          cy="{{player1.head.cy}}"
          r="{{player1.head.r}}"
          stroke="{{player1.head.stroke}}"
          stroke-width="{{player1.head.strokeWidth}}"
          fill="{{player1.head.fill}}"/>
  <line id="body1"
        stroke-linecap="round"
        x1="{{player1.body.x1}}"
        y1="{{player1.body.y1}}"
        x2="{{player1.body.x2}}"
        y2="{{player1.body.y2}}"
        stroke="{{player1.body.stroke}}"
        stroke-width="{{player1.body.strokeWidth}}"/>
  <line id="lifeBar1"
        x1="{{player1.lifeBar.x1}}"
        y1="{{player1.lifeBar.y1}}"
        x2="{{player1.lifeBar.x2}}"
        y2="{{player1.lifeBar.y2}}"
        stroke="{{player1.lifeBar.stroke}}"
        stroke-width="{{player1.lifeBar.strokeWidth}}"/>
  <line id="arm1"
        stroke-linecap="round"
        x1="{{player1.arm.x1}}"
        y1="{{player1.arm.y1}}"
        x2="{{player1.arm.x2}}"
        y2="{{player1.arm.y2}}"
        stroke="{{player1.arm.stroke}}"
        stroke-width="{{player1.arm.strokeWidth}}"/>
  <line id="leg1"
        stroke-linecap="round"
        x1="{{player1.leg.x1}}"
        y1="{{player1.leg.y1}}"
        x2="{{player1.leg.x2}}"
        y2="{{player1.leg.y2}}"
        stroke="{{player1.leg.stroke}}"
        stroke-width="{{player1.leg.strokeWidth}}"/>
  <line id="block1"
        stroke-linecap="round"
        x1="{{player1.block.x1}}"
        y1="{{player1.block.y1}}"
        x2="{{player1.block.x2}}"
        y2="{{player1.block.y2}}"
        stroke="{{player1.block.stroke}}"
        stroke-width="{{player1.block.strokeWidth}}"/>
  <circle cx="{{player2.head.cx}}"
          cy="{{player2.head.cy}}"
          r="{{player2.head.r}}"
          stroke="{{player2.head.stroke}}"
          stroke-width="{{player2.head.strokeWidth}}"
          fill="{{player2.head.fill}}"/>
  <line id="body2"
        stroke-linecap="round"
        x1="{{player2.body.x1}}"
        y1="{{player2.body.y1}}"
        x2="{{player2.body.x2}}"
        y2="{{player2.body.y2}}"
        stroke="{{player2.body.stroke}}"
        stroke-width="{{player2.body.strokeWidth}}"/>
  <line id="lifeBar2"
        x1="{{player2.lifeBar.x1}}"
        y1="{{player2.lifeBar.y1}}"
        x2="{{player2.lifeBar.x2}}"
        y2="{{player2.lifeBar.y2}}"
        stroke="{{player2.lifeBar.stroke}}"
        stroke-width="{{player2.lifeBar.strokeWidth}}"/>
  <line id="arm2"
        stroke-linecap="round"
        x1="{{player2.arm.x1}}"
        y1="{{player2.arm.y1}}"
        x2="{{player2.arm.x2}}"
        y2="{{player2.arm.y2}}"
        stroke="{{player2.arm.stroke}}"
        stroke-width="{{player2.arm.strokeWidth}}"/>
  <line id="leg2"
        stroke-linecap="round"
        x1="{{player2.leg.x1}}"
        y1="{{player2.leg.y1}}"
        x2="{{player2.leg.x2}}"
        y2="{{player2.leg.y2}}"
        stroke="{{player2.leg.stroke}}"
        stroke-width="{{player2.leg.strokeWidth}}"/>
  <line id="block2"
        stroke-linecap="round"
        x1="{{player2.block.x1}}"
        y1="{{player2.block.y1}}"
        x2="{{player2.block.x2}}"
        y2="{{player2.block.y2}}"
        stroke="{{player2.block.stroke}}"
        stroke-width="{{player2.block.strokeWidth}}"/>
</svg>
